
.DS_Store

inc/.DS_Store

#
# from https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
#

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
